
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
    <div>
        <span>Здесь должна появиться иконка:</span>
        <button><i class="fa fa-calendar fa-2x" aria-hidden="true"/></button> 
    </div>
</body>
</html>
